@use 'color-themes' as tm;

$main: 'main';
$back: 'back';
$accent: 'accent';



.nutshell {
    @include tm.themed() {
        border: solid tm.t($main) 3px;
        background-color: tm.t($accent);
    }


    h2 {
        font-size: 0.8em;
        text-transform: uppercase;
        margin-bottom: 5px;
    }

    p {
        margin: 0;
        font-size: 1.5em;
        line-height: 1.1;
    }

    
}

.grid {
    // padding: 0 30px;
    display: grid;
    // grid-template-columns: [left] 1fr [right] 1fr [end];
    grid-column-gap: 30px;
    grid-row-gap: 40px;

    grid-template-areas: 
        "left present"
        "left past";

    .full {
        grid-column: left / end;

        &.nutshell {
            @include tm.themed() {
                border: solid tm.t($main) 2px;
            }
            padding: 15px;

            h2 {
                font-size: 1em;
                text-transform: uppercase;
                margin-bottom: 20px;
            }

            p {
                margin: 0;
                font-size: 2rem;
                line-height: 1.1;
            }
        }
    }

    .left {
        grid-area: left;
        
        .bio {
            font-size: 1.3rem;
        }
    }

    .present {
        grid-area: present;
        @include tm.themed() {
            border: solid tm.t($main) 2px;
        }
        padding: 15px; 

        p {
            margin: 0;
        }
    }
    .past {
        grid-area: past;
        padding: 15px;

        h2 {
            margin: 10px 0;
        }

        .past-list {
            padding: 0;
            margin: 0;

            li {
                margin: 0;
                padding: 10px 0;
                list-style-type: none;
                border-bottom: 1px solid;

                @include tm.themed() {
                    border-bottom-color: tm.t($main);
                }
            }
        }
    }

    .right { grid-column: right / end; }

    a {
        @include tm.themed() {
            background-color: tm.t($main);
            color: tm.t($back);
        }

        // background-color: black;
        // color: white;
        transition: color 0.3s, background-color 0.3s, padding 0.3s;

        padding: 1px 5px;

        &:hover {
            @include tm.themed() {
                background-color: tm.t($back);
                color: tm.t($main);
            }

            // background-color: white;
            // color: black;
            padding: 1px 0;
        }
    }
}

@media (max-width: 740px) {
    .grid {
        grid-template-areas: 
            "present"
            "left"
            "past";
            
        .past {
            padding-top: 0;
        }
    }

    .left {
        padding: 0 15px;

	grid-column-end: left;

        :last-child {
            margin-bottom: 0;
        }
    }

}

