@use 'color-themes' as tm;

$main: 'main';
$back: 'back';

.nutshell {
    @include tm.themed() {
        border: solid tm.t($main) 3px;
    }

    h2 {
        font-size: 0.8em;
        text-transform: uppercase;
        margin-bottom: 5px;
    }

    p {
        margin: 0;
        font-size: 1.5em;
        line-height: 1.1;
    }
}

.grid {
    // padding: 0 30px;
    display: grid;
    grid-template-columns: [left] 1fr [right] 1fr [end];
    grid-column-gap: 30px;
    grid-row-gap: 40px;

    .full {
        grid-column: left / end;

        &.nutshell {
            @include tm.themed() {
                border: solid tm.t($main) 2px;
            }
            padding: 15px;

            h2 {
                font-size: 1em;
                text-transform: uppercase;
                margin-bottom: 20px;
            }

            p {
                margin: 0;
                font-size: 2rem;
                line-height: 1.1;
            }
        }
    }

    .left {
        grid-column: left / right;
    }

    .right {
        grid-column: right / end;

        .past {
            padding: 0;
            margin: 0;

            li {
                margin: 0;
                padding: 10px 0;
                list-style-type: none;
                border-bottom: 1px solid;

                @include tm.themed() {
                    border-bottom-color: tm.t($main);
                }
            }
        }
    }

    a {
        @include tm.themed() {
            background-color: tm.t($main);
            color: tm.t($back);
        }

        // background-color: black;
        // color: white;
        transition: color 0.3s, background-color 0.3s, padding 0.3s;

        padding: 1px 5px;

        &:hover {
            @include tm.themed() {
                background-color: tm.t($back);
                color: tm.t($main);
            }

            // background-color: white;
            // color: black;
            padding: 1px 0;
        }
    }
}

