@use 'layout';
@use 'color-themes' as tm;

$main: 'main';
$back: 'back';

.header {
    width: 100%;
    padding: 30px;
    display: flex;

    flex: 0 0 auto;

    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;

    background-color: inherit;

    a.title-link {
        
    }

    .title {
        font-weight: 600;
        padding: 10px 20px;
        height: auto;

        margin: 0;
    }

    .nav {
        list-style-type: none;
        display: flex;
        
        li {
            padding-left: 10px;

            &.active {
                a {
                    // display: inline-block;
                    // border-bottom: solid 2px $main;
                    // line-height: 0.9;
                    // text-shadow:
                    //     1px 1px $back,
                    //     1px -1px $back,
                    //     -1px 1px $back,
                    //     -1px -1px $back;

                    text-decoration: underline;
                }
            }

            &.artActive {
                a {
                    text-decoration-thickness: 2px;
                    text-decoration: underline dotted;
                }
            }
        }
    }
}
