@use 'color-themes' as tm;

$main: 'main';
$back: 'back';

$orange: #f8ba00;
$blue: #0745ff;

// .dark {
//   $main: white;
//   $back: rgb(32, 32, 32);
// }

@font-face {
  font-family: "HK Grotesk";
  src: url("../fonts/HKGrotesk-Regular.woff2") format("woff2"), url("../fonts/HKGrotesk-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "HK Grotesk";
  src: url("../fonts/HKGrotesk-Italic.woff2") format("woff2"), url("../fonts/HKGrotesk-Italic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "HK Grotesk";
  src: url("../fonts/HKGrotesk-Bold.woff2") format("woff2"), url("../fonts/HKGrotesk-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "HK Grotesk";
  src: url("../fonts/HKGrotesk-BoldItalic.woff2") format("woff2"), url("../fonts/HKGrotesk-BoldItalic.woff") format("woff");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "HK Grotesk";
  src: url("../fonts/HKGrotesk-Medium.woff2") format("woff2"), url("../fonts/HKGrotesk-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "HK Grotesk";
  src: url("../fonts/HKGrotesk-MediumItalic.woff2") format("woff2"), url("../fonts/HKGrotesk-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "HK Grotesk";
  src: url("../fonts/HKGrotesk-SemiBold.woff2") format("woff2"), url("../fonts/HKGrotesk-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "HK Grotesk";
  src: url("../fonts/HKGrotesk-SemiBoldItalic.woff2") format("woff2"), url("../fonts/HKGrotesk-SemiBoldItalic.woff") format("woff");
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: "HK Grotesk";
  src: url("../fonts/HKGrotesk-Light.woff2") format("woff2"), url("../fonts/HKGrotesk-Light.woff") format("woff");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "HK Grotesk";
  src: url("../fonts/HKGrotesk-LightItalic.woff2") format("woff2"), url("../fonts/HKGrotesk-LightItalic.woff") format("woff");
  font-weight: 200;
  font-style: italic;
}

::selection {
  background: $orange;
}

html {
  font-family: "HK Grotesk", -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  height: 100%;
}

header {
  > a {
      @include tm.themed() {
          color: tm.t($back);
          background-color: tm.t($main);
      }
  }
}

body {
  margin: 0;
  overflow-x: hidden;
  overflow-y: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
progress {
  vertical-align: baseline;
}
[hidden],
template {
  display: none;
}
a {
  background-color: transparent;
  text-decoration: none;
  font-weight: 700;
  @include tm.themed() {
    color: tm.t("main");
  }
  transition: font-weight 0.2s, text-decoration 0.2s;
  -webkit-text-decoration-skip: objects;
}
a:active,
a:hover {
  outline-width: 0;
  font-weight: 400;
}
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}
b,
strong {
  font-weight: inherit;
  font-weight: bolder;
}
dfn {
  font-style: italic;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
mark {
  background-color: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
img {
  border-style: none;
}
svg:not(:root) {
  overflow: hidden;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
figure {
  margin: 1em 40px;
}
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}
button,
input,
optgroup,
select,
textarea {
  font: inherit;
  margin: 0;
}
optgroup {
  font-weight: 700;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
[type="reset"],
[type="submit"],
button,
html [type="button"] {
  -webkit-appearance: button;
}
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner,
button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring,
button:-moz-focusring {
  outline: 1px dotted ButtonText;
}
fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}
textarea {
  overflow: auto;
}
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
html {
  font: 112.5%/1.45em "HK Grotesk", helvetica, sans-serif;
  overflow: hidden;
  box-sizing: border-box;
  overflow-y: scroll;
}
* {
  box-sizing: inherit;
  transition: background-color 0.2s;
}
*:before {
  box-sizing: inherit;
}
*:after {
  box-sizing: inherit;
}

.body {
  height: 100vh;

  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-areas: 
    "header"
    "main"
    "footer";

  // align-items: flex-start;
  // justify-content: space-between;

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  &.theme--dark {
    background-color: tm.$dark-back;
    color: white;
  }

  &.theme--default {
    color: black;
  }
}

body {
  color: hsla(0, 0%, 0%, 0.8);
  
  overflow: hidden;
  font-family: "HK Grotesk", helvetica, sans-serif;
  font-weight: normal;
  word-wrap: break-word;
  font-kerning: normal;
  -moz-font-feature-settings: "kern", "liga", "clig", "calt";
  -ms-font-feature-settings: "kern", "liga", "clig", "calt";
  -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
  font-feature-settings: "kern", "liga", "clig", "calt";
}
img {
  max-width: 100%;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
h1 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 1.45rem;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: "HK Grotesk", helvetica, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 2.25rem;
  line-height: 1.1;
}
h2 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: "HK Grotesk", helvetica, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 1.62671rem;
  line-height: 1.1;
}
h3 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: "HK Grotesk", helvetica, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 1.38316rem;
  line-height: 1.1;
}
h4 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: "HK Grotesk", helvetica, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 1rem;
  line-height: 1.1;
}
h5 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: "HK Grotesk", helvetica, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 0.85028rem;
  line-height: 1.1;
}
h6 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: "HK Grotesk", helvetica, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 0.78405rem;
  line-height: 1.1;
}
hgroup {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
ul {
  margin-left: 1.45rem;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  list-style-position: outside;
  list-style-image: none;
}
ol {
  margin-left: 1.45rem;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  list-style-position: outside;
  list-style-image: none;
}
dl {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
dd {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
p {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;

  > a {
    @include tm.themed() {
      color: tm.t($back);
      background: tm.t($main)
    }

    &:hover {
      @include tm.themed() {
        color: tm.t($main);
        background: tm.t($back)
      } 
    }
  }
}
figure {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
pre {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 1.45rem;
  font-size: 0.85rem;
  line-height: 1.42;
  background: hsla(0, 0%, 0%, 0.04);
  border-radius: 3px;
  overflow: auto;
  word-wrap: normal;
  padding: 1.45rem;
}
table {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  font-size: 1rem;
  line-height: 1.45rem;
  border-collapse: collapse;
  width: 100%;
}
fieldset {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
blockquote {
  margin-left: 1.45rem;
  margin-right: 1.45rem;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
form {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
footer {
  width: 100%;

  grid-area: footer;

  @include tm.themed() {
    border-top: tm.t('footBorder')
  }

  background-color: #333232;

  display: inline-flex;
  flex-flow: row nowrap;

  justify-content: space-between;

  padding: 20px 40px 20px 40px;

  a.mail-link {
    font-size: 1.5rem;
    color: white;

    z-index: 1;
    // position: absolute;
    // bottom: 0;
  
    padding-bottom: 5px;
    border-bottom: solid 1px white;

    .mail-icon {
      height: 2rem;
      width: 2rem;
      margin-right: 10px;

      * {
        stroke: white !important;
      }
    }

    display: flex;
    justify-content: flex-start;

    align-items: center;
  }
}
footer > a:hover {
  color: white;
}
noscript {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
iframe {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.2rem;
}
hr {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: calc(1.45rem - 1px);
  background: hsla(0, 0%, 0%, 0.2);
  border: none;
  height: 1px;
}
address {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
b {
  font-weight: bold;
}
strong {
  font-weight: bold;
}
dt {
  font-weight: bold;
}
th {
  font-weight: bold;
}
ol li {
  padding-left: 0;
}
ul li {
  padding-left: 0;
}
li > ol {
  margin-left: 1.45rem;
  margin-bottom: calc(1.45rem / 2);
  margin-top: calc(1.45rem / 2);
}
li > ul {
  margin-left: 1.45rem;
  margin-bottom: calc(1.45rem / 2);
  margin-top: calc(1.45rem / 2);
}
blockquote *:last-child {
  margin-bottom: 0;
}
li *:last-child {
  margin-bottom: 0;
}
p *:last-child {
  margin-bottom: 0;
}
li > p {
  margin-bottom: calc(1.45rem / 2);
}
code {
  font-size: 0.85rem;
  line-height: 1.45rem;
}
kbd {
  font-size: 0.85rem;
  line-height: 1.45rem;
}
samp {
  font-size: 0.85rem;
  line-height: 1.45rem;
}
abbr {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
}
acronym {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
}
abbr[title] {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
  text-decoration: none;
}
thead {
  text-align: left;
}
td,
th {
  text-align: left;
  border-bottom: 1px solid hsla(0, 0%, 0%, 0.12);
  font-feature-settings: "tnum";
  -moz-font-feature-settings: "tnum";
  -ms-font-feature-settings: "tnum";
  -webkit-font-feature-settings: "tnum";
  padding-left: 0.96667rem;
  padding-right: 0.96667rem;
  padding-top: 0.725rem;
  padding-bottom: calc(0.725rem - 1px);
}
th:first-child,
td:first-child {
  padding-left: 0;
}
th:last-child,
td:last-child {
  padding-right: 0;
}
tt,
code {
  background-color: hsla(0, 0%, 0%, 0.04);
  border-radius: 3px;
  font-family: "SFMono-Regular", Consolas, "Roboto Mono", "Droid Sans Mono",
    "Liberation Mono", Menlo, Courier, monospace;
  padding: 0;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
}
pre code {
  background: none;
  line-height: 1.42;
}
code:before,
code:after,
tt:before,
tt:after {
  letter-spacing: -0.2em;
  content: " ";
}
pre code:before,
pre code:after,
pre tt:before,
pre tt:after {
  content: "";
}

/* Custom Stuff Here */

.main-content {
  grid-area: main;

  display: flex;
  flex-flow: column nowrap;

  padding: 0 30px;
  width: 100%;
  flex: 1;

  overflow: auto; // not sure if necessary
  overflow-x: hidden;
}

.link-icon {
  width: 1rem;
  margin-right: 5px;

  @include tm.themed() {
    fill: tm.t($main);
  }  
}

@media (max-width: 860px) {
  /* Change to collapsible menu */
}

@media only screen and (max-width: 740px) {
  html {
    font-size: 100%;
  }

  .header {
    right: 20px;
    top: 20px;
    padding-left: 20px;
    width: 100%;
    font-family: "HK Grotesk", helvetica, sans-serif;
    z-index: 10000;
  }

  .headerwrapper {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
  }

  .header-title {
    margin: 0 0 0 10px;
    text-decoration: none;
  }

  .header-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    box-shadow: 0px -2px 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    z-index: 10001;
    height: 50px;
    width: 50px;
    font-size: 30px;
    transition: 1s;
    background-color: black;
    color: white;

    flex: 0 0 50px;
  }

  .header-top {
    box-shadow: 0px -2px 10px rgba(0, 0, 0, 0.5);
    font-size: 30px;
    margin: 0 10px 0 10px;
    border-radius: 50px;
    height: 50px;
    width: 100%;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    z-index: 10000;
    position: relative;
    transition: 1s;
  }

  .header-top:hover {
    color: #f8ba00;
    box-shadow: 0px 0px 30px rgba(0,0,0,0.5);
  }

  .header-top:hover > a {
    color: #f8ba00;
  }

  .header-list {
    font-weight: 700;
    list-style: none;
    padding: 0;
    margin: 0 50px 10px 0;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-end;
  }

  .header-list > li {
    box-shadow: 0px -2px 10px rgba(0, 0, 0, 0.2);
    border-radius: 50px;
    display: flex;
    flex: 0 0 auto;
    padding: 0 20px;
    align-items: center;
    justify-content: center;
    margin: 5px;
    border: none;
    background-color: white;
    line-height: 35px;
  }

  .listwrapper {
    padding: 5px;
    background-color: transparent;
    border-radius: 0 0 10px 10px;
    box-shadow: none;
    transform: translateY(0px) rotateZ(-180deg) translateX(10px) scale(0,0);
    transition: ease 1s;
    z-index: 9999;
    position: relative;
    transform-origin: top right;
  }

  .header-top .closed {
    display: none;
  }

  .listwrapper a {
    color: inherit;
  }
  .listwrapper a:hover {
    color: #f8ba00;
  }
  .listwrapper-active {
    color: #f8ba00;
  }

  .listwrapper.closed {
    transform: translateY(0px);
    transition: ease 1s;
  }
  .chevronclose {
    display: none;
  }
}

@media screen and (max-width: 500px) {
  footer {
    padding: 20px 30px;
    a.mail-link {
      font-size: 1.2rem;

      .mail-icon {
        height: 1.5rem;
        width: 1.5rem;
      }
    }
  }
}