.list {
  flex: 1;
  list-style-type: none;
  margin: 0;
  padding: 0;

  display: flex;
  flex-flow: column;

  height: 100%;

  li {
    border-bottom: solid 1px;
    display: flex;
    flex-flow: column nowrap;
    flex: 1 1;

    &:last-child {
      border-bottom: 0;
    }

    &.video {
      flex: 1 0 300px;
    }
  }
}
