@use 'color-themes' as tm;

$main: "main";
$back: "back";

.scroller {
  flex: 1;

    &::-webkit-scrollbar {
      width: 10px;
    }
  
    &::-webkit-scrollbar-track {
        @include tm.themed() {
            background: tm.t($back);
            border: solid tm.t($main);
            border-width: 0 1px;
        }
    }  
  
    &::-webkit-scrollbar-thumb {
        @include tm.themed() {
            background: tm.t($main);
        }
    }
    
    overflow-y: auto;

    &.grid-left-item {
      padding: 10px 0;
      // Must find way to make better/less ugly
      // @include tm.themed() {
      //   border-right: solid tm.t($back) 1px;
      // }
    }
    
    @include tm.themed() {
        border: solid tm.t($main);
        border-width: 1px 0 1px 0;
    }
  }

  .post-divider {
    @include tm.themed() {
      border-color: tm.t($main)
    }
  
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid;
    // border-bottom-width: 1px;
  
    &.normal {
      border-width: 1px;
    }
  
    &.bold {
      border-width: 3px;
    }
  }