@use 'color-themes' as tm;

$main: "main";
$back: "back";
$imBorder: "imBorder";

.scroller {
  flex: 1;

    &::-webkit-scrollbar {
      width: 10px;
      margin-left: 10px;
    }
  
    &::-webkit-scrollbar-track {
        @include tm.themed() {
            background: tm.t($back);
            border: solid tm.t($main);
            border-width: 0 1px;
        }
    }  
  
    &::-webkit-scrollbar-thumb {
        @include tm.themed() {
            background: tm.t($main);
        }
    }
    
    overflow-y: auto;

    &.grid-left-item {
      padding: 10px 10px 0px 10px;
      // Must find way to make better/less ugly
      @include tm.themed() {
        border-right: solid tm.t($main) 1px;
      }

      &::-webkit-scrollbar-track {
        border-right: 0;
      }
    }
    
    @include tm.themed() {
        border: solid tm.t($main);
        border-width: 1px 0 1px 0;
    }
  }

  .scroller {
    li {
      @include tm.themed() {
        border-color: tm.t($imBorder)
      }
    }
  }

  .post-divider {
    @include tm.themed() {
      border-color: tm.t($main)
    }

    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid;
    // border-bottom-width: 1px;
  
    &.normal {
      border-width: 1px;
    }
  
    &.bold {
      border-width: 3px;
    }
  }

  .post-nav {
    @include tm.themed() {
      color: tm.t($main)
    }

    margin-top: 20px;
    margin-left: 0;
    font-size: 1.5em;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    list-style: none;
    color: white;
    padding: 0;
    
    a {
      margin: 0;
    }
  }

  @media (max-width: 400px) {
    .post-nav {
      font-size: 1em;
      margin-top: 10px;

      a::before {
       font-size: 0.5em; 
      }
    }
  }