@use "color-themes" as tm;

$main: 'main';
$back: 'back';

.opening {
  display: flex;
  flex-flow: column wrap;

  h1 {
    margin: 0 0 0.5em 0;
    padding: 0;
    font-size: 1.8rem;
  }

  p {
    margin: 0;
  }
}

.mobile-head {
  display: none;
}

.portfolio ul {
  display: flex;
  flex-flow: column wrap;
  list-style-type: none;
  margin: 0;

  li {
    width: inherit;
    background-color: white;
    transition: border 0.2s, box-shadow 0.2s, padding 0.2s;
    border: white;
    overflow: hidden;
    display: flex;
  
    border-bottom: solid black 1px;
  
    justify-content: space-between;
    align-items: center;

    p {
      margin-bottom: 0;
      font-weight: 700;
      transition: font-weight 0.2s;
    }
  }

  a:hover {
    p {
      font-weight: 400;
    }
  }
}

.portfolio-img {
  height: 180px;
  width: 100%;
  object-fit: cover;
  margin-bottom: 0;
}

.main-content {
  flex: 0 1 500px;

  padding: 0 30px;
  
  display: flex;
  flex-flow: column wrap;

  justify-items: stretch;

}

/* Grid Definitions*/
.main-grid {
  flex: 0 1 500px;

  height: 100%;

  padding: 0 30px;
  display: grid;
  grid-template-columns: [left] 2fr [right] 1fr;
  grid-template-rows: minmax(auto, 1fr);
  grid-column-gap: 30px;
  grid-row-gap: 20px;
  justify-items: stretch;
}
.grid-left {
  grid-column: 1 / 2;

  &.opening {
    justify-content: left;
  }
}
.grid-right {
  grid-column: 2 / 3;

  &.opening {
    align-items: right;
    text-align: right;
  }
}
.grid-full {
  grid-column: 1 / 3;
}

.hero {
  display: flex;
  justify-content: flex-end;
}

.hero h2 {
  margin-bottom: 0;
}

.nav {
  flex: 0 0 auto;
}


@media (max-width: 860px) {
  /* Switch to single-column */
  .main-grid {
    grid-template-columns: [left] 1fr;
    grid-template-rows: auto repeat(10, auto);
  }
  .grid-left, .grid-full, .grid-right {
    grid-column: 1;
  }
  .opening > h1 {
    font-size: 80px;
    line-height: 70px;
  }
  .opening {
    height: 40vh;
  }
  h2 {
    margin-bottom: 0;
  }
}

@media (max-width: 740px) {

  .mobile-head {
    display: flex;
    align-items: center; justify-content: center;
    font-size: 30px;
    background-color: black;
    padding: 0 80px 0 10px;
    height: 90px;
  }
  .main-grid {
    padding: 0 20px;
    text-align: justify;

    h2 {
      text-align: left;
    }
  }

  .opening {
    height: 40vh;
    padding: 0 20px;

    & > h1 {
      font-size: 60px;
      text-align: center;
      line-height: 50px;
    }
  }

  .divider {
    padding: 20px;
    align-items: center;
    justify-content: center;
  }
}

@media (max-width: 500px) {
  .portfolio li {
    flex: 1 0 200px;
  }
  .portfolio a {
    width: 100%;
  }

  .divider {
    flex-flow: column;
  }
  .hero-big {
    margin: 15px 5px 5px 5px;
  }

}

// Currently Useless

.contact-form {
  display: flex;
  flex-flow: column nowrap;

  & > * {
    margin-bottom: 10px;
    width: 100%;
    border: solid lightgray 1px;
    border-radius: 20px;
    outline: none;
    transition: box-shadow 0.5s, border-color 0.2s;
    padding: 5px 10px;
  }

  textarea {
    resize: none;
    height: 20vh;

    &:focus {
      border: solid white 1px;
      box-shadow: 0 0px 20px 2px rgba(0, 0, 0, 0.2);
    }
  }

  input:focus {
    border: solid white 1px;
    box-shadow: 0 0px 20px 2px rgba(0, 0, 0, 0.2);
  }
}

@keyframes showErrorMessage {
  from {border-radius: 20px 20px 20px 20px; padding-top: 0px; transform: translateY(-15px);}
  to {border-radius: 0 0 20px 20px; padding-top: 25px; transform: translateY(0px);}
}

@keyframes hideErrorMessage {
  from {border-radius: 0 0 20px 20px; padding-top: 25px; transform: translateY(0px);}
  to {border-radius: 20px 20px 20px 20px; padding-top: 0px; transform: translateY(-15px);}
}

.field-error {
  animation: showErrorMessage 0.5s;
  border-radius: 0 0 20px 20px;
  background-color: #FF9791;
  color: #EE220C;
  margin-top: -30px;
  padding-top: 25px;
  z-index: -1000;
}

.form-error {
  background-color: #FF9791;
  color: #EE220C;
}

.form-success {
  color: #1db100;
  background-color: #c2ff90;
}

.form-validation {
  display: none;
}

.hero-big {
  border-radius: 5px;
  border: solid #f8ba00;
  background-color: #f8ba00;
  color: white;
  transition: 0.2s;
  padding: 10px;
  margin-left: 10px;
  text-align: center;
  line-height: 1em;
}

.hero-big:hover {
  background-color: white;
  color: #f8ba00;
}