.opening {
  padding: 0 240px 0 40px;
  background-color: #f8ba00;
  height: 60vh;
  box-shadow: 0 -10px 20px -2px black;
  display: flex;
  align-items: center;
  margin-bottom: 5vh;
}
.opening > h1 {
  line-height: 100px;
  color: white;
  font-weight: 600;
  font-size: 100px;
  max-width: 600px;
}

.mobile-head {
  display: none;
}

.contact-form {
  display: flex;
  flex-flow: column nowrap;
}

.contact-form > * {
  margin-bottom: 10px;
  width: 100%;
  border: solid lightgray 1px;
  border-radius: 20px;
  outline: none;
  transition: box-shadow 0.5s, border-color 0.2s;
  padding: 5px 10px;
}

.contact-form textarea {
  resize: none;
  height: 20vh;
}

.contact-form textarea:focus, .contact-form input:focus {
  border: solid white 1px;
  box-shadow: 0 0px 20px 2px rgba(0, 0, 0, 0.2);
}

.main-grid h1 {
  border: solid gray;
  border-width: 1px 0 0 0;
  padding-top: 10px;
  font-size: 60px;
}

@keyframes showErrorMessage {
  from {border-radius: 20px 20px 20px 20px; padding-top: 0px; transform: translateY(-15px);}
  to {border-radius: 0 0 20px 20px; padding-top: 25px; transform: translateY(0px);}
}

@keyframes hideErrorMessage {
  from {border-radius: 0 0 20px 20px; padding-top: 25px; transform: translateY(0px);}
  to {border-radius: 20px 20px 20px 20px; padding-top: 0px; transform: translateY(-15px);}
}

.field-error {
  animation: showErrorMessage 0.5s;
  border-radius: 0 0 20px 20px;
  background-color: #FF9791;
  color: #EE220C;
  margin-top: -30px;
  padding-top: 25px;
  z-index: -1000;
}

.form-error {
  background-color: #FF9791;
  color: #EE220C;
}

.form-success {
  color: #1db100;
  background-color: #c2ff90;
}

.form-validation {
  display: none;
}

.portfolio ul {
  display: flex;
  flex-flow: row wrap;
  list-style-type: none;
  margin: 0;
}

.portfolio h2 {
  font-size: 22px;
  margin: 10px 0 0 0;
}

.portfolio a {
  flex: 1 0 200px;
  margin: 0 20px 20px 0;
}

.portfolio-img {
  max-height: 200px;
}

.portfolio li {
  min-height: 100%;
  width: inherit;
  background-color: white;
  transition: box-shadow 0.2s, border-radius 0.2s;
  overflow: hidden;
}

.portfolio li:hover {
  box-shadow: 0px 20px 43px -9px rgba(0,0,0,0.45);
  border-radius: 10px;
  transition: box-shadow 0.5s, border-radius 0.5s;
  overflow: hidden;
}

/* Grid Definitions*/
.main-grid {
  padding: 0 240px 0 40px;
  display: grid;
  grid-template-columns: [left] 1fr [right] 1.25fr;
  grid-template-rows: auto repeat(10, auto);
  grid-column-gap: 30px;
  grid-row-gap: 20px;
  justify-items: stretch;
}
.grid-left {
  grid-column: 1;
}
.grid-right {
  grid-column: 2;
}
.grid-full {
  grid-column: 1 / 3;
}

.divider {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: solid #f8ba00;
  border-width: 2pt 0 2pt 0;
  padding: 40px 240px 40px 40px;
  margin-bottom: 40px;
}

.hero {
  display: flex;
  justify-content: flex-end;
}

.hero h2 {
  margin-bottom: 0;
}

.hero-big {
  border-radius: 5px;
  border: solid #f8ba00;
  background-color: #f8ba00;
  color: white;
  transition: 0.2s;
  padding: 10px;
  margin-left: 10px;
  text-align: center;
  line-height: 1em;
}

.hero-big:hover {
  background-color: white;
  color: #f8ba00;
}


@media (max-width: 860px) {
  /* Switch to single-column */
  .main-grid {
    grid-template-columns: [left] 1fr;
    grid-template-rows: auto repeat(10, auto);
  }
  .grid-left, .grid-full, .grid-right {
    grid-column: 1;
  }
  .opening > h1 {
    font-size: 80px;
    line-height: 70px;
  }
  .opening {
    height: 40vh;
  }
  h2 {
    margin-bottom: 0;
  }
}

@media (max-width: 740px) {

  .mobile-head {
    display: flex;
    align-items: center; justify-content: center;
    font-size: 30px;
    background-color: black;
    padding: 0 80px 0 10px;
    height: 90px;
  }
  .main-grid {
    padding: 0 20px;
    text-align: justify;
  }
  .main-grid h2 {
    text-align: left;
  }
  .opening > h1 {
    font-size: 60px;
    text-align: center;
    line-height: 50px;
  }
  .opening {
    height: 40vh;
    padding: 0 20px;
  }

  .divider {
    padding: 20px;
    align-items: center;
    justify-content: center;
  }
}

@media (max-width: 500px) {
  .portfolio li {
    flex: 1 0 200px;
  }
  .portfolio a {
    width: 100%;
  }

  .divider {
    flex-flow: column;
  }
  .hero-big {
    margin: 15px 5px 5px 5px;
  }

}
